@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="responsive-pic" src="~/images/deadpool.jpg" alt="Picture" width="500"/>
</div>
